/*--------------------------------------------------
Global CSS
--------------------------------------------------*/
	* {
		box-sizing:border-box;
		font-family: 'Open Sans', sans-serif;
	}
    body 
	{     
		height: 95%;
    }
	html 
	{
		height: 95%;
    }
	.container 
	{
		height: 95%;
    }
		

/*end: Global CSS
--------------------------------------------------*/




/*--------------------------------------------------
Structure
--------------------------------------------------*/
	img
	{
		height: 42px;	
	}
	.securedDiv
	{
		float: right;
		margin-right: 6%;			
	}
	.securedDiv span
	{
		font-size: 21px;
		margin-top: 14px;
		float: left;
				
	}
	button
	{
		border-radius: 30px;
		border: none;
		width: 80%;
		height: 54px;
		margin: 110px 10px 8px 10px;
		font-size: 22px;
		box-shadow: #9d9b9f 1px 4px 4px;
		
	}
	input[type=text] {
		/*margin-bottom: 7px; */
		margin-top: 10px;
		padding: 15px;
		width: 87%;
		border: 2px solid #e9e9e9;
		font-size: 19px;
		margin-left: 6%;
		margin-right: 6%;
	}
	header
	{
		height: 34%;
	}
	.formCss
	{
		text-align:center;
	}
	.signUpLink
	{
		
		text-decoration:none;
	}
	

/*end: Structure
--------------------------------------------------*/




/*--------------------------------------------------
Colors
--------------------------------------------------*/
	body
	{
		background: #f6f6f6;
	}
	button
	{
		background: #61ba00;
		color: #fff;
	}
	.signUpLink
	{
		color:#627c47;
	}
	.securedDiv span
	{
		color: #c6c8c3;
	}

/*end: Colors
--------------------------------------------------*/




/*--------------------------------------------------
Fonts & Typography
--------------------------------------------------*/


/*end: Fonts & Typography
--------------------------------------------------*/


/*--------------------------------------------------
Media Queries
--------------------------------------------------*/

/*If screen is bigger than given size below*/
@media screen and (min-width: 500px) {

    .container {
        max-width: 320px;
    }
	.container {
    margin: auto auto 23px;

}

/*If screen is smaller than given size below*/
/*try not use the following media query. Our goal
is to go from small to large (mobile first or small 
screen first.) So we don't usually want to apply 
styles for screens when they are smaller than something
we rather want to target something when screen gets
bigger. */
@media screen and (max-width: 500px) {

}

/*end: Media Queries
--------------------------------------------------*/


/*--------------------------------------------------
normalize.css: Downloaded: 1 Dec 2015
--------------------------------------------------*/

/*put it in a different CSS file*/


/*end: normalize.css:
--------------------------------------------------*/